<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/088132ba-383e-42df-9aa4-25da2e7cb989/resourceGroups/appsvc_windows_centralus/providers/Microsoft.Web/sites/4GuruApi</ResourceId>
    <ResourceGroup>appsvc_windows_centralus</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://4guruapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>4guruapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>4GuruApi</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$4GuruApi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>